{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"bracketSpacing": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^./src/(.*)$",
		"./src/components/(.*)$",
		"./src/routes/(.*)$",
		"./src/pages/(.*)$",
		"./src/assets/(.*)$",

		"^@/layout/(.*)$",
		"^@/ui/(.*)$",
		"^@/providers/(.*)$",
		"^@/constants/(.*)$",
		"^@/types/(.*)$",
		"^@/assets/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^@/hooks/(.*)$",
		"^@/utils/(.*)$",
		"^@/api/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": [
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	]
}
