{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"prettier.printWidth": 20,

	"singleAttributePerLine": true,
	"bracketSpacing": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",

		"^@(.*)$",
		"@components/(.*)$",
		"@routes/(.*)$",
		"@pages/(.*)$",
		"@assets/(.*)$",

		"@scss/(.*)$",

		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	]
}
